@font-face {
    font-family: 'Euclid Circular';
    src: url(Euclid\ Circular\ A\ Medium.ttf);
}

body {
    margin: 0;
    background-color: darkslategray;
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: none;
    font-family: 'Euclid Circular A Medium';
}

svg {
    position: absolute;
    top: -4000px;
    left: -4000px;
}

.button-holder {
    justify-content: center;
    display: flex;
}

#gooey-button {
    pointer-events: fill;
    cursor: none;
    padding: 1rem;
    font-size: 1.3rem;
    border: none;
    color: #0c1016;
    -webkit-filter: url("#gooey");
    filter: url("#gooey");
    position: relative;
    background-color: #00e23f;
    width: 190px;
    border-radius: 25px;
}

#gooey-button .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#gooey-button .bubbles .bubble {
    background-color: #00e23f;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
}

#gooey-button:hover {
    background-color: #e2c000;
}

#gooey-button:hover>.bubbles .bubble {
    background-color: #e2c000;
}

#gooey-button .bubbles .bubble:nth-child(1) {
    left: 149px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-1 3.02s infinite;
    animation: move-1 3.02s infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#gooey-button .bubbles .bubble:nth-child(2) {
    left: 20px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-2 3.04s infinite;
    animation: move-2 3.04s infinite;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#gooey-button .bubbles .bubble:nth-child(3) {
    left: 28px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-3 3.06s infinite;
    animation: move-3 3.06s infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#gooey-button .bubbles .bubble:nth-child(4) {
    left: 76px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-4 3.08s infinite;
    animation: move-4 3.08s infinite;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

#gooey-button .bubbles .bubble:nth-child(5) {
    left: 103px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-5 3.1s infinite;
    animation: move-5 3.1s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#gooey-button .bubbles .bubble:nth-child(6) {
    left: 149px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-6 3.12s infinite;
    animation: move-6 3.12s infinite;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

#gooey-button .bubbles .bubble:nth-child(7) {
    left: 52px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-7 3.14s infinite;
    animation: move-7 3.14s infinite;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

#gooey-button .bubbles .bubble:nth-child(8) {
    left: 23px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-8 3.16s infinite;
    animation: move-8 3.16s infinite;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

#gooey-button .bubbles .bubble:nth-child(9) {
    left: 51px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-9 3.18s infinite;
    animation: move-9 3.18s infinite;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

#gooey-button .bubbles .bubble:nth-child(10) {
    left: 133px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-10 3.2s infinite;
    animation: move-10 3.2s infinite;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes move-1 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -84px);
        transform: translate(0, -84px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-1 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -84px);
        transform: translate(0, -84px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -118px);
        transform: translate(0, -118px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -118px);
        transform: translate(0, -118px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-3 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -119px);
        transform: translate(0, -119px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-3 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -119px);
        transform: translate(0, -119px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-4 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -98px);
        transform: translate(0, -98px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-4 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -98px);
        transform: translate(0, -98px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-5 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -96px);
        transform: translate(0, -96px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-5 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -96px);
        transform: translate(0, -96px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-6 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -87px);
        transform: translate(0, -87px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-6 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -87px);
        transform: translate(0, -87px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-7 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -59px);
        transform: translate(0, -59px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-7 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -59px);
        transform: translate(0, -59px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-8 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -124px);
        transform: translate(0, -124px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-8 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -124px);
        transform: translate(0, -124px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-9 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -61px);
        transform: translate(0, -61px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-9 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -61px);
        transform: translate(0, -61px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@-webkit-keyframes move-10 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -102px);
        transform: translate(0, -102px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-10 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    99% {
        -webkit-transform: translate(0, -102px);
        transform: translate(0, -102px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
}


/*# sourceMappingURL=styje.css.map */

@media screen and (min-width: 910px) {
    .hero {
        pointer-events: none;
        position: absolute;
        text-align: center;
        justify-content: center;
        align-items: center;
        /* width: auto; */
        background: rgba(200, 200, 200, 0.5);
        border-radius: 25px;
        padding: 2rem 4rem;
    }
    .hero h1 {
        color: limegreen;
        font-size: 3.5rem;
    }
    .hero h3 {
        font-size: 1.5rem;
        color: wheat;
        font-size: 20px;
    }
}

@media screen and (max-width: 910px) {
    .hero {
        pointer-events: none;
        position: absolute;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: rgba(200, 200, 200, 0.5);
        padding: 2rem 4rem;
        width: 100%;
    }
    .hero h1 {
        color: limegreen;
        font-size: 2.5rem;
    }
    .hero h3 {
        font-size: 1rem;
        color: wheat;
        font-size: 20px;
    }
}

#particles-js {
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* copy from here */

.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 6px;
    }
    40% {
        opacity: 1;
        height: 10px;
    }
    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }
    100% {
        height: 3px;
        opacity: 0;
    }
}

.chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
    animation: pulse 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
    animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}


/*copy until here */